CONFIG_EXAMPLE_RECONFIGURE_BUTTON=0
# CONFIG_APP_OLED_DEBUG_ONLY is not set
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_TINYUSB_NET_MODE_NCM=y
CONFIG_DIAG_OLED_ENABLED=y
CONFIG_DIAG_OLED_I2C_ADDR=0x3C
CONFIG_DIAG_OLED_SDA_GPIO=39
CONFIG_DIAG_OLED_SCL_GPIO=37
CONFIG_DIAG_ENCODER_A_GPIO=33
CONFIG_DIAG_ENCODER_B_GPIO=18
CONFIG_DIAG_BACK_GPIO=16
CONFIG_DIAG_CONFIRM_GPIO=35
CONFIG_DIAG_OLED_UPDATE_MS=200
